GENERATE_INFOPLIST_FILE = YES
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 0.12.11
DEVELOPMENT_TEAM = B88BRQ88KH
CODE_SIGN_STYLE = Automatic
CODE_SIGN_ENTITLEMENTS = Tartelet/Supporting files/Tartelet.entitlements
MACOSX_DEPLOYMENT_TARGET = 14.0
ENABLE_HARDENED_RUNTIME = YES
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
